[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/DPP"]
	path = vendor/DPP
	url = https://github.com/brainboxdotcc/DPP.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/cpp-httplib"]
	path = vendor/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "vendor/whisper.cpp"]
	path = vendor/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
